<div class="col-md-6">
	
	<%= form_tag problem_submissions_path(@problem), method: :post, id: :submit_code_form do %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="form-group">
		<%= text_area_tag :source_code, 
		"nums = map(int, raw_input().split())", 
		required: true, 
		class: "form-control", 
		id: :source_code %>
		</div>

	<fieldset class="form-group">
		<legend>Seleccionar lenguaje</legend>
		<div class="form-check">
			<label class="form-check-label">
				<%= radio_button_tag :python_version, 2, true %>
				Python 2.7
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<%= radio_button_tag :python_version, 3, false %>
				Python 3.0+
			</label>
		</div>
	</fieldset>


		<%= submit_tag "Enviar", class: "btn btn-primary", id: :submit_code %>
	<% end %>
	
</div>
