<p>
	<% if @current_category %>
		<%= link_to problems_path, :class => "code-link" do %>
			<button class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
		<% end %>		
	<% end %>

	<% @categories.each do |cat| %>
		<%= link_to problems_path(:category => cat.id), :class => "code-link" do %>
			<% if @current_category && @current_category.id == cat.id %>
				<code class="current-category"><%= cat.name %></code>
			<% else %>
				<code><%= cat.name %></code>
			<% end %>
		<% end %>
	<% end %>
</p>

<% if @current_category %>
<blockquote class="blockquote">
<dl>
	<dt><%= @current_category.name %></dt>
	<dd><%= @current_category.description %></dd>
</dl>
</blockquote>
<% end %>



<% if @problems.any? %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Resuelto por</th>
				<th>Total envios</th>
			</tr>
		</thead>
		<tbody>
			<% @problems.each do |p| %>
			<tr>
				<th scope="row"><%= p.id %></th>
				<td><%= link_to p.title, {:controller => :problems, :action => :show, :id => p.id}, { :class => "link_class"} %></td>
				<td><%= p.users_solved %></td>
				<td><%= p.total_submissions %></td>
			</tr>
			<% end %>			
		</tbody>
	</table>
<% else %>
	<pre>No hay problemas en esta categoria</pre>

<% end %>


<%= will_paginate @problems, :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>

