<p>
	<% if @current_category %>
		<%= link_to problems_path, :class => "code-link" do %>
			<code><i class="glyphicon glyphicon-remove"></i></code>
		<% end %>		
	<% end %>

	<% @categories.each do |cat| %>
		<%= link_to problems_path(:category => cat.id), :class => "code-link" do %>
			<% if @current_category && @current_category.id == cat.id %>
				<code class="current-category"><%= cat.name %></code>
			<% else %>
				<code><%= cat.name %></code>
			<% end %>
		<% end %>
	<% end %>
</p>

<% if @current_category %>
<dl>
	<dt><%= @current_category.name %></dt>
	<dd><%= @current_category.description %></dd>
</dl>
<% end %>


<% @problems.each do |p| %>
	<p><%= link_to p.title, {:controller => :problems, :action => :show, :id => p.id}, { :class => "link_class"} %></p>
	<p>Resuelto por <%= p.users_solved %> usuarios (total, <%= p.total_submissions %> envios)</p>
<% end %>

<%= will_paginate @problems %>
