<div class="row">
<%= render partial: "problem_description" %>
</div>

<div class="row">

	<%= render partial: "new_submission" %>

	<div class="col-md-6">
	<%= render partial: "my_submissions" %>
	</div>
</div> 


<script>
	init(<%= params[:id] %>);

	<% if params[:submission_id] %>
	reload_pending_submission("<%= submissions_url %>", <%= params[:submission_id] %>);
	<% end %>
</script>

