<h1>Envia tu solucion</h1>
<%= form_tag(controller: :envio, action: :juzgar, method: :post) do %>
	<%= label_tag :codigo, "Tu codigo fuente:" %>
	<%= text_area_tag :codigo %>
	<%= hidden_field_tag :problem_id, params[:problem_id] %>
	<%= submit_tag "Enviar" %>
<% end %>

<h3><%= @problema.title %> - Descripcion del problema</h3>

<p><%= @problema.enunciado %></p>


<h3>Ejemplo</h3>

<table class="io-sample">
	<tr>
		<th>Entrada</th>
		<th>Salida</th>
	</tr>
	<tbody>
		<% @casos_ejemplo.each do |caso| %>
		<tr>
			<td><%= caso.entrada %></td>
			<td><%= caso.salida %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<h3>Ultimos envios</h3>

<% @ultimos_envios.each do |envio| %>
	
	<p><%= envio.problem.title %> (ID <%= envio.problem.id %>) <%= envio.verdict %> <small><%= envio.created_at %></small></p>

<% end %>